div.container a.input-group-btn {
    font-size: 14px;
}

.suggestions {
    position: relative;
    display: inline-block;
    width: inherit;
    z-index:99
}

.input-group {
    flex-wrap: nowrap;
}

.btn-primary {
    color: #fff;
    background-color: #00A499;
    border-color: #00A499;
}

.btn-primary:hover{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}