/* Detail Styles */
.results-info {
    margin: 1em;
}

.results {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-left: 0em;
    margin-right: 0em;
}

.results .result {
    width: 100%;
    height: auto;
}

.h5, .h6 {
    color: #005F83
}
