.main--details {
    padding-top: 2em;
    justify-content: center;
};

.image {
    width: 10em;
    height: auto;
}

.keyPhrases {
    vertical-align: middle;
    text-align: justify;
    color: #6B7281;
}

.p {
    vertical-align: middle;
    text-align: justify;
    color: #6B7281;
}