.home-search {
    margin: 5em auto;
    max-width: 45%;
    display: block;
}

.logo {
    height: 12em;
    width: auto;
    display:block;
    margin: auto auto 0;
}

.poweredby {
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #00A499;
    border-color: #00A499;
}

.btn-primary:hover{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}